partials/contact/form.dtd

<!ELEMENT form (lang+)>
<!ATTLIST form
    action CDATA #REQUIRED
    method CDATA #REQUIRED
    enctype CDATA #REQUIRED
>
<!ELEMENT lang (field+)>
<!ATTLIST lang locale CDATA #REQUIRED>
<!ELEMENT field (name, type, label)>
<!ATTLIST field required (true|false) "false">
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT label (#PCDATA)>
